# API Setup
PORT=
BASE_PATH=
CORS_HOSTS=
# Log level: debug | info | warn | error | silent (default: info)
LOG_LEVEL=

# MYSQL Configuration
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=

# Payments API Configuration
MAGICSTACK_PAYMENT_API=
PAYMENT_APIKEY=

# comma-separated extra headers to allow (example includes x-tenant-id)
CORS_HEADERS=x-tenant-id

# FTP Deployment Configuration
FTP_HOST=ftp.cairnsgames.co.za
FTP_USER=sample@cairnsgames.co.za
FTP_PASSWORD=cairnsgamesco_sample
FTP_PORT=21